:root {
  --main-color: #193A83;
  --accent-color: #64B6AC;
  --white-color: #f1f0f9;
  --dark-color: #373d20;
}
/* Global Styles  */
* {
  background-color: var(--white-color);
}

/* Navbar */
.navbar-menu, .navbar-menu:hover, .navbar-menu:active, .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  background-color: var(--white-color);
  box-shadow: none;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
  color: var(--dark-color);
}

/* Hero Section */
section .hero-body, .hero.is-info .title, .hero.is-info .subtitle {
  background-color:var(--white-color);
  color: var(--dark-color);
}