<div class= "flex justify-center h-screen bg-gradient-to-b from-main via-redish to-yellowish lg:h-fit" > 
  <div class="flex flex-col m-4 gap-7 text-white font-bold
    lg:gap-20
  "> 
    <h1 class="tracking-widest text-right font-header text-6xl md:text-9xl">The Dodson Family</h1>
    <h2 class="tracking-wider text-right font-small-header text-4xl 
      lg:text-left lg:text-7xl
    ">Missionaries to<br> the U.S. Military in Germany</h2> 
    <div class="lg:flex lg:flex-col lg:gap-6">
      <h4 class="text-center font-para text-sm font-thin
        lg:text-5xl 
      ">Also I Heard the voice of the Lord, saying, <br>Whom shall I send, and who will go for us? <br> Then said I, Here am I; send me.</h4> 
      <h5 class="font-para text-center text-sm font-light tracking-wide
        lg:text-5xl 
      ">Isaiah 6:8</h5> 
    </div>
    <div class="flex flex-row justify-around">
      <img src="../assets/Germany-Outline.png" class="w-28
        lg:w-1/4
      "> 
      <div class="flex flex-col grow-1 justify-center text-center
        lg:gap-10 
      ">
        <h5 class="font-small-header tracking-wider font-extralight
          lg:text-5xl
        ">Mission Board</h5>
        <h5 class="font-small-header tracking wider font-extralight
          lg:text-5xl
        "><a target="_blank" href="https://www.bmfp.org">BMFP</a></h5>
      </div> 
    </div>
  </div>
</div>