<div class="flex justify-center h-100 bg-gradient-to-b from-main via-redish to-redish lg:h-fit">
  <div class="flex flex-col gap-9 text-whiteish">
    <h1 class="text-header text-3xl text-center">Statement of Faith</h1>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">The Word of God</h2>
      <h2>I believe the Bible is the divinely inspired Word of God in its entirety, written by men as they were moved by
        the Holy Spirit, and it is the sole authority for the Christian's faith and conduct. I believe the King James
        Version of the Bible (KJV) is the preserved Word of God for the English-speaking people of the world. (Psalm
        12:6-7, II Peter 1:20-21)</h2>
    </div>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">The Godhead</h2>
      <h2>I believe in one God, eternally existing in three persons: The Father, Son, and Holy Spirit. I believe they
        are equal in every divine perfection and executing distinct but harmonious offices in the great work of
        redemption. (Genesis 1:26, Matthew 3:16-17)</h2>
    </div>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">God the Son</h2>
      <h2>I believe Jesus Christ was conceived of the Holy Spirit and born of Mary, a virgin, in order that He might
        reveal God and redeem sinful men; that He is both the Son of God and God, the Son. (Isaiah 7:14, Luke 1:26-28,
        II Corinthians 5:21)</h2>
    </div>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">God the Holy Spirit</h2>
      <h2>I believe the Holy Spirit is a divine person, equal with God the Father and God the Son, and of the same
        nature. It is He who conficts of sin, of righteousness and of judgment. He is the Restrainer of the Evil One
        until God's pupose is fulfilled. He Bears witness to the truth of the Gospel and is the Agent in the new birth,
        baptizing all true believers into the body of Christ. (John 14:17, I Corinthians 12:12-13)</h2>
    </div>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Man</h2>
      <h2>I believe man was created in the image and after the likeness of God, but by voluntary transgression fell from
        his sinless and happy estate. The consequences of which all mankind are now sinners under the just condemnation
        of God, without excuse or defense. (Genesis 1:26, Genesis 3:6, Romans 5:12)</h2>
    </div>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Atonement</h2>
      <h2>I believe the Lord Jesus Christ died for our sins according to the Scriptures as a representative and
        substitutionary sacrifice, and all who believe in Him are justified on the grounds of His shed blood. (I
        Corinthians 15:3-4)</h2>
    </div>
    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Salvation</h2>
      <h2>I believe the salvation of sinners is wholly of grace through faith and Jesus Christ is the only way of
        salvation. I believe the blessings of salvation are made free by the Gospel, nothing prevents the salvation of
        the greatest sinner but his own inherent depravity and voluntary rejection of the Gospel. (Ephesians 2:8-9)</h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Security</h2>
      <h2>I believe those who receive Jesus Christ as Saviour are eternally secure. Our security rests in the finished work of Jesus Christ, and all the redeemed are kept by God's power and are thus secure in Christ forever. (John 3:16, I John 5:12)
      </h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Christ's Resurrection</h2>
      <h2>I believe in the resurrection of the crucified body of our Lord Jesus Christ, in His ascension into Heaven and in His present life there as High Priest and advocate. (Acts 1:9, I Corinthians 15:3-4) </h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Second Coming</h2>
      <h2>I believe in "that blessed hope"- the personal and imminent return of our Lord and Savior Jesus Christ, when the church will be "gathered together unto him." (I Thessalonians 4:13-16, I Corinthians 15:50-52)</h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Israel</h2>
      <h2>I believe in the literal fulfillment of the prophesies and promises of the Scriptures which foretell and assure the future regeneration and restoration of Israel as a nation. </h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Bodily Resurrection</h2>
      <h2>I believe in the bodily resurrection of the just and the unjust, the everlasting blessedness of the saved, which is heaven, and the everlasting punishment of the lost, which is hell. (I Corinthians 15:50-52) </h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">Scriptural Ordinances</h2>
      <h2>I believe the Scriptural ordinances of the church are Baptism by immersion and the Lord's Supper, and are to be administered to believers only as a symbol of their belief in the death, burial, and resurrection of our Lord and Saviour, Jesus Christ; and as a testimony to the world of that belief and of their death, burial and resurrection with Him; and the Lord's Supper should be partaken of by believers only to show forth His death "till He come." (I Corinthians 11:23-26)</h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">The Church</h2>
      <h2>I believe the church is a congregation of born-again, baptized believers, practicing the New Testament principles, believing its doctrines, observing its ordinances, and exercising its autonomy. I believe it is the responsibility of the local church to propagate the Gospel to the world. Every church and Christian should have a part in this ministry. (Acts 2:41-47)</h2>
    </div>

    <div class="flex flex-col gap-5 p-4 text-para">
      <h2 class="font-small-header text-2xl">The Family</h2>
      <h2>I believe God created mankind male and female with the command and purpose to be fruitful, to multiply, and to replenish the earth. Accordingly, God ordained marriage exclusively as one male and one female becoming one flesh (Genesis 2:18-25; Matthew 19:3-9; Romans 7:2; Ephesians 5:22-32).</h2>
      <h2>I believe children, the natural fruit of God's design of marriage, are a heritage of the Lord, to be taught spiritual and moral values by their parents, who are to rear them with loving discipline following the example and instruction of the Lord (Genesis 33:5; Deuteronomy 6:6-7; Psalms 78:4-7; Psalms 127:3-5; Psalms 128:3-6; Proverbs 22:6; Ephesians 6:1-4; Hebrews 12:7-10).</h2>
      <h2>I believe in the sanctity of human life. I believe human life begins at conception, and from conception through elderly adult years should be respected as a creation of God. I believe abortion, infanticide, euthanasia, suicide, assisted suicide, and other similar acts are acts of murder and therefore against the will of God (Genesis 1:27; Exodus 20:13; Leviticus 19:32; Job 12:12; Psalms 139:13-14; Isaiah 44:2,24; Jeremiah 1:5; Romans 9:20-22; I Timothy 5:1-2).  </h2>
    </div>

  </div>

</div>
